$carousel-media-control-height: 100px !default;
$carousel-media-control-scale-xs: .7 !default;
$carousel-controls-offset-bottom: 50px !default;
$carousel-play-icon-size: 26px !default;
$carousel-media-control-background-color: #666 !default;
$carousel-media-control-background-color-hover: #333 !default;

.carousel-media-control {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$carousel-media-control-height*.5;
  margin-top: -$carousel-media-control-height*.5;

  a {
    display: block;
    width: $carousel-media-control-height;
    height: $carousel-media-control-height;
    padding: $carousel-media-control-height*.5;
    background-color: $carousel-media-control-background-color;
    border-radius: $carousel-media-control-height*.5;
    font-size: $carousel-play-icon-size;
    color: #FFF;
    .glyphicon {
      position: absolute;
      top: 50%;
      bottom: 50%;
      margin-top: -$carousel-play-icon-size*.5;
      margin-left: -$carousel-play-icon-size*.5;
    }

  }
  @media (max-width: $screen-xs-max) {
    $scale-down: $carousel-media-control-scale-xs;
    margin-left: -$carousel-media-control-height*$scale-down*.5;
    margin-top: -$carousel-media-control-height*$scale-down*.5;
    a {
      font-size: $carousel-play-icon-size*$scale-down;
      width: $carousel-media-control-height*$scale-down;
      height: $carousel-media-control-height*$scale-down;
      padding: $carousel-media-control-height*$scale-down*.5;
      .glyphicon {
        margin-top: -$carousel-play-icon-size*$scale-down*.5;
        margin-left: -$carousel-play-icon-size*$scale-down*.5;
      }
    }
  }
}
.disable-transition {
  transition: none !important;
}
.carousel .item.left, .carousel .item.right {
  -webkit-transform: translateX(0px) !important;
  -ms-transform: translateX(0px) !important; // IE9+
  transform: translateX(0px) !important;
}
.carousel-media-control a:hover {
  background-color: $carousel-media-control-background-color-hover;
}
.carousel-media {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.carousel-video-playing {
  .carousel-media-control, .carousel-indicators {
    display: none;
  }
  .carousel-control {
    bottom: $carousel-controls-offset-bottom;
    background: none;
    opacity: 0;
    .glyphicon {
      padding-top: $carousel-controls-offset-bottom*.5;
    }
  }
  &:hover .carousel-control {
    opacity: .5;
  }
}
.carousel.transform-support {
  .carousel-inner {
    > .item {
      transition: .6s ease-in-out transform;
    }

    > .active {
      transform: translateX(0px) !important;
    }

    > .next,
    > .prev {
      position: absolute !important;
      top: 0 !important;
      width: 100%;
    }

    > .next {
      transform: translateX(100%) !important;
      left: 0px !important;
    }
    > .prev {
      transform: translateX(-100%) !important;
      left: 0px !important;
    }
    > .next.left,
    > .prev.right {
      transform: translateX(0px) !important;
      left: 0px !important;
    }

    > .active.left {
      transform: translateX(-100%) !important;
      left: 0px !important;
    }
    > .active.right {
      transform: translateX(100%) !important;
      left: 0px !important;
    }

  }
}