include mixins
doctype html
html
  head
    title Hallo World!
    link(rel="stylesheet", href="assets/css/main.css")

  body
    +carousel(
      [
        { mediaSrc: "//player.vimeo.com/video/91090531", src: "//dummyimage.com/1200x400/787678/fff", mdSrc:"//dummyimage.com/992x331/787678/fff", smSrc:"//dummyimage.com/768x256/787678/fff", xsSrc:"//dummyimage.com/480x160/787678/fff" },
        { src: "//dummyimage.com/1200x400/787678/fff", mdSrc:"//dummyimage.com/992x331/787678/fff", smSrc:"//dummyimage.com/768x256/787678/fff", xsSrc:"//dummyimage.com/480x160/787678/fff" },
        { src: "//dummyimage.com/1200x400/787678/fff", mdSrc:"//dummyimage.com/992x331/787678/fff", smSrc:"//dummyimage.com/768x256/787678/fff", xsSrc:"//dummyimage.com/480x160/787678/fff" },
        { src: "//dummyimage.com/1200x400/787678/fff", mdSrc:"//dummyimage.com/992x331/787678/fff", smSrc:"//dummyimage.com/768x256/787678/fff", xsSrc:"//dummyimage.com/480x160/787678/fff" },
      ],
      {
        //backgroundScale: "cover"
        //backgroundScale: "contain",
        //scaleBackgroundProportionally: "false"
      }
    )
    //
      br
      p Carousel with on media
      +carousel([{ src: "//dummyimage.com/1024x400/787678/fff", mediaSrc: "//player.vimeo.com/video/91090531", xsSrc:"//dummyimage.com/400x156/787678/fff" },])

  script(src="assets/js/main.js")