include mixins
doctype html
html
  head
    title Hallo World!
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/main.css")
   body
    .container
      - var width = 1140, height = 600;
      - var maxWidth = 992, ratio=maxWidth/width, mdWidth = Math.round(width * ratio), mdHeight = Math.round(height * ratio);
      - var maxWidth = 768, ratio=maxWidth/width, smWidth = Math.round(width * ratio), smHeight = Math.round(height * ratio);
      - var maxWidth = 480, ratio=maxWidth/width, xsWidth = Math.round(width * ratio), xsHeight = Math.round(height * ratio);
      +carousel(
        [
          { mediaSrc: "//player.vimeo.com/video/91090531", src: "//dummyimage.com/"+width+"x"+height+"/787678/fff", mdSrc:"//dummyimage.com/"+mdWidth+"x"+mdHeight+"/787678/fff", smSrc:"//dummyimage.com/"+smWidth+"x"+smHeight+"/787678/fff", xsSrc:"//dummyimage.com/"+xsWidth+"x"+xsHeight+"/787678/fff" },
          { src: "//dummyimage.com/"+width+"x"+height+"/787678/fff", mdSrc:"//dummyimage.com/"+mdWidth+"x"+mdHeight+"/787678/fff", smSrc:"//dummyimage.com/"+smWidth+"x"+smHeight+"/787678/fff", xsSrc:"//dummyimage.com/"+xsWidth+"x"+xsHeight+"/787678/fff" },
          { src: "//dummyimage.com/"+width+"x"+height+"/787678/fff", mdSrc:"//dummyimage.com/"+mdWidth+"x"+mdHeight+"/787678/fff", smSrc:"//dummyimage.com/"+smWidth+"x"+smHeight+"/787678/fff", xsSrc:"//dummyimage.com/"+xsWidth+"x"+xsHeight+"/787678/fff" },
          { src: "//dummyimage.com/"+width+"x"+height+"/787678/fff", mdSrc:"//dummyimage.com/"+mdWidth+"x"+mdHeight+"/787678/fff", smSrc:"//dummyimage.com/"+smWidth+"x"+smHeight+"/787678/fff", xsSrc:"//dummyimage.com/"+xsWidth+"x"+xsHeight+"/787678/fff" },
        ],
        {
          //backgroundScale: "cover",
          //backgroundScale: "contain",
          //scaleBackgroundProportionally: "false"
        }
      )
      script(src="assets/js/main.js")